[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Алексей Зубарев (auzubarev)
[access "refs/for/refs/*"]
	read = group user/Алексей Зубарев (auzubarev)
	push = group user/Алексей Зубарев (auzubarev)
	label-Code-Review = -2..+2 group user/Алексей Зубарев (auzubarev)
	label-Verified = -1..+1 group user/Алексей Зубарев (auzubarev)
	rebase = group user/Алексей Зубарев (auzubarev)
	removeReviewer = group user/Алексей Зубарев (auzubarev)
	submit = group user/Алексей Зубарев (auzubarev)
[access "refs/heads/*"]
	read = group user/Алексей Зубарев (auzubarev)
	create = group user/Алексей Зубарев (auzubarev)
	push = +force group user/Алексей Зубарев (auzubarev)
	pushMerge = group user/Алексей Зубарев (auzubarev)
[access "refs/tags/*"]
	push = +force group user/Алексей Зубарев (auzubarev)
	pushTag = group user/Алексей Зубарев (auzubarev)
	pushSignedTag = group user/Алексей Зубарев (auzubarev)
[project]
	description = 1234
